body {
	font-family: Tahoma;
	background-image: url(../Images/bg.png);
	background-color: #43739c;
	background-position: 0 -45px;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}
.head {
	background-color: #fff;
}
.logo {
	float:left;
}
.countries {
	border: 1px solid red;
}
.link {
	font-size: 10px;
	text-align: center;
}
.flex_conteiner {
	float: right;
	display: flex;
	width: 324px;
	height: 55px;
	flex-direction:row;
	align-items: center;
	justify-content:space-between;
	flex-flow:wrap;
}
.photo {border:solid 1px #669999;}
.center_panel ul {
	font-size:14px;
	background-color: #333333;
	border: 1px solid #000000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu li{
	display: inline-block;
	background-color: #333333;
	color:#ffffff;
}
.menu a {
	text-decoration: none;
	color:#ffffff;
}
.main_page {
	margin: 9px 33px 11px 68px;
}
.menu li span {
	font-size:8px;
	vertical-align:middle;
}
.trip {
	margin: 0 26px 0 33px;
	padding:9px 0 11px 0;
	position:relative;
}
.services {
	margin: 0 32px 0px 26px;
	padding:9px 0 11px 0;
	position:relative;
}
.partners {
	margin: 0 27px 0 32px;
	padding:9px 0 11px 0;
	padding-bottom: 11px;
	position:relative;
}
.reviews {
	margin: 9px 36px 11px 27px;
}
.about {
	margin: 9px 31px 11px 36px;
}
.contacts {
	margin: 9px 0 11px 31px;
}
.drop_menu {
	position:absolute;
	width:130px;
	padding-left: 9px;
	left: -9px;
	top:34px;
	display:none;
}
.drop_menu li {
	margin-top: 10px;
}
.drop_menu_last_point {
	margin-bottom: 10px;
}
.menu .trip:hover ul,
.menu .services:hover ul,
.menu .partners:hover ul {
	display:block;
}
.services .drop_menu {
	width: 90px;
}
.colums {
	overflow: hidden;
	background: linear-gradient(to right,
		#edeef0 210px,
		#cccccc 210px,
		#FFFFFf 212px, 
		#FFFfff 788px, 
		#cccccc 788px,
		#edeef0 790px)
}
.information {
	float:left;

}
.news{
	float: right;
}

.information,
.news {
	overflow: hidden;
	font-size: 18px;
	width: 210px;
	text-align: center;
	color:#333333;
	line-height:24px;
}

.information p,
.news p {
	font-size: 14px;
	margin-bottom: 20px;
}

.main_content {
	overflow: hidden;
	margin: 0 211px 0 211px;
}
.footer {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin: 9px;
}