body {
	font-family: Tahoma;
	background-image: url(../Images/bg.png);
	background-position: 0 -40px;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0,0,0,0.9);
}
.head {
	background-color: #fff;
}
.logo {
	float:left;
	position: relative;
	margin-left: 30px;
}

.jorney {
	position: absolute;
	top:110px;
	left:75px;
	color: #128aa7;
	font-size: 12px;
}

.head_contacts {
	color: #128aa7;
	font-size: 12px;
	margin: 6px 32px 0 200px;
}
.head_contacts p {
	margin: 4px 0;
}

.head_contacts p a {
	text-decoration: none;
	color: #128aa7;
}
.head_right {
	float:right;
}

.link {
	font-size: 10px;
	text-align: center;
}

.link a {
	color :#128aa7;
}

.countries_flex_conteiner {
	margin-top: 40px;
	display: flex;
	width: 324px;
	height: 55px;
	flex-direction:row;
	align-items: center;
	justify-content:space-between;
	flex-flow:wrap;
}

.photo {
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	height: 236px;
	overflow: hidden;
}

.center_panel ul {
	font-size:14px;
	background-color: #333333;
	border-bottom: 1px solid #000000;
}

.menu li{
	display: inline-block;
	background-color: #333333;
	color:#ffffff;
}
.menu a {
	text-decoration: none;
	color:#ffffff;
}
.main_page {
	margin: 9px 33px 11px 68px;
}
.menu li span {
	font-size:8px;
	vertical-align:middle;

}
.trip {
	margin: 0 26px 0 33px;
	padding:9px 0 11px 0;
	position:relative;
}
.services {
	margin: 0 32px 0px 26px;
	padding:9px 0 11px 0;
	position:relative;
}

.partners {
	margin: 0 27px 0 32px;
	padding:9px 0 11px 0;
	padding-bottom: 11px;
	position:relative;
}
.reviews {
	margin: 9px 36px 11px 27px;
}
.about {
	margin: 9px 31px 11px 36px;
}
.contacts {
	margin: 9px 0 11px 31px;
}
.drop_menu {
	position:absolute;
	width:130px;
	padding-left: 9px;
	left: -9px;
	top:34px;
	display:none;
}
.drop_menu li {
	margin-top: 10px;
}
.drop_menu_last_point {
	margin-bottom: 10px;
}
.menu .trip:hover ul,
.menu .services:hover ul,
.menu .partners:hover ul {
	display:block;
}
.services .drop_menu {
	width: 90px;
}

.colums {
	background: linear-gradient(to right,
		#edeef0 210px,
		#cccccc 210px,
		#FFFFFf 212px, 
		#FFFfff 788px, 
		#cccccc 788px,
		#edeef0 790px)
}

.information {
	float:left;
}

.news{
	float: right;
}

.information,
.news {
	font-size: 18px;
	width: 210px;
	text-align: center;
	color:#333333;
	line-height:24px;
	margin-top:3px;
}

.information p,
.news p {
	font-size: 14px;
	margin-bottom: 15px;
}

.main_content {
	overflow: hidden;
	margin: 0 211px 0 211px;
}
.content {
	box-shadow: 0 3px 0 #031d28;
}

.footer {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin: 9px;
}